<footer class="wrapper style1 align-center">
  <div class="inner">
    <ul class="icons">
      {% if site.twitter_username %}
      <li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon style2 fab fa-twitter"><span class="label">Twitter</span></a></li>
      {% endif %}
      {% if site.facebook_URL %}
      <li><a href="{{ site.facebook_URL }}" class="icon style2 fab fa-facebook"><span class="label">Facebook</span></a></li>
      {% endif %}
      {% if site.instagram_username %}
      <li><a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon style2 fab fa-instagram"><span class="label">Instagram</span></a></li>
      {% endif %}
      {% if site.dribbble_username %}
      <li><a href="#" class="icon style2 fab fa-dribbble"><span class="label">Dribbble</span></a></li>
      {% endif %}
      {% if site.github_username %}
      <li><a href="https://github.com/{{ site.github_username }}" class="icon style2 fab fa-github"><span class="label">GitHub</span></a></li>
      {% endif %}
      {% if site.medium_id %}
      <li><a href="https://medium.com/@{{ site.medium_id }}" class="icon style2 fab fa-medium"><span class="label">Medium</span></a></li>
      {% endif %}
      {% if site.500px_username %}
      <li><a href="#" class="icon style2 fab fa-500px"><span class="label">500px</span></a></li>
      {% endif %}
      {% if site.phone %}
      <li><a href="tel:{{site.phone}}" class="icon style2 far fa-phone"><span class="label">Phone</span></a></li>
      {% endif %}
      {% if site.email %}
      <li><a href="mailto:{{ site.email }}" class="icon style2 far fa-envelope"><span class="label">Email</span></a></li>
      {% endif %}
    </ul>
    <p>&copy; {{ site.admin }}. Theme by <a href="https://html5up.net">HTML5 UP</a>.</p>
  </div>
</footer>
